.inputFilter {
    font-size: 16px;
    outline: none;
    border: 2px solid gray;
    border-radius: 5px;
}

.inputFilter:focus {
    border: 3px solid rgb(248, 195, 134);
}

.labelFilter {
    font-weight: 700;
    font-size: 24px;
    margin-right: 10px;
}