.title{
        text-align: center;
        font-weight: 700;
        font-size: 24px;
}

.messageUser{
        text-align: center;
        font-size: 16px;
        color: rgb(237, 188, 116);
        font-weight: 800;
}