.contactList{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.item{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 24px;

    display: flex;
    justify-content:space-between;
}

.btnContactList {
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid gray;

    padding: 5px;

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 24px;
}

.btnContactList:active {
    background-color: rgb(55, 119, 216);
    color: white;
    border: 2px solid rgb(55, 119, 216);
}